<div class="container">
	<h2 class="login-title">Log in</h2>
	<div class="row">
		<div class="six columns offset-by-three column">
			<%= form_for(:session, url: login_path) do |f| %>

			<%= f.label :email %>
			<%= f.email_field :email, class: 'u-full-width' %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'u-full-width' %>

			<%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>  

			<%= f.submit "Log in", class: "button" %>
			<% end %>

			<p>New user? <%= link_to "Sign up", signup_path %></p>
		</div>
	</div>
</div>