<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Experimental</title>
	</head>

	<body>
	
	<header class>
	<button class="c-hamburger c-hamburger--htla toggle" id="js--hamburger">
	  <span>toggle menu</span>
	</button>
	<div class="nav-wrap">
		<div class="nav-sidebar">
			<ul>
				<li>Blog</li>
				<li>Articles</li>
				<li>Videos</li>
			</ul>
		</div>	
	</div>
		<div class="container">
      <div class="title-description">
        <center>
          <h1 class="header-title js--main-title">Unless current_user</h1>
            <h2 class="page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <% unless logged_in? %>
            <%=link_to "Join", signup_path, :class => "button main-button" %>
            <%=link_to "Login", login_path, :class => "button main-button" %>
            <% end %>
            <div class="centering">
			        <a href="#">
			        	<i class="bounce fa fa-arrow-circle-o-down fa-4x js--arrow"></i>
			        </a>
      			</div>
        </center>
      </div>  
    </div>
	</header>
		
		<section class="section_1 js--section_1">
			<div class="container">
				<div class="row">
					<div class="twelve columns">
					<% @articles.each_with_index do |article, index| %>
					<h3 class="article-title js--article-title"><%=link_to article.title, article_path(article) %></h3>
					<i class="date-copy"><%= time_ago_in_words(article.created_at) %> ago, by Mark Hustad</i>
					<% if article.image.present? %>
					<%= image_tag article.image.url(:large), :class => "u-max-full-width article-image-index" %>
					<% end %>
						<p class="article-paragraph"><%= simple_format(index.zero? ?  article.body : truncate(article.body, length: 300)) %></p>
						<p class="read-more"><%= link_to 'read more', article_path(article) unless index.zero? %></p>
						<% end %>
						<%= will_paginate @articles %>
					</div>

					<!-- This is the second column I may or may not use <div class="five columns">
						<h3 class="article-title">Featured Articles</h3>
						<% @articles.each do |article| %>
						<h6><%=link_to article.try(:title), article_path(article) %></h6>
							<% end %>
							<br>
							<div class>
					      <label for="exampleEmailInput">Newsletter</label>
					      <input class="u-full-width" type="email" placeholder="Enter your email" id="exampleEmailInput">
					      <input type="submit" value="Join">
					    </div>
						<% if logged_in? %>
							<p>Current User: <%= (current_user.name) %><br>
           		<%=link_to 'Create new article', new_article_path %><br>
           		<%=link_to 'Logout', logout_path, method: "delete" %><br>
           		<% else %>
           		<%=link_to 'Login', login_path %></p>
           	<% end %>
					</div> -->
				</div>
			</div>
		</section>
	</body>
</html>