<!DOCTYPE html>
	<head>
		<title>Experimental</title>
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	</head>

	<body>
		<header class="header-1">
    <nav>
      <div class="container">
          <ul class="main-nav js--main-nav">
              <li><a href="#About" class="js--scroll-to-about">About</a></li>
              <li><a href="#articles" class="js--scroll-to-contact">Articles</a></li>
              <li><a href="#videos" class="js--scroll-to-main-nav">Videos</a></li>
              <li><a href="#contact" class="js--scroll-to-fan-pics">Contact</a></li>
              <li><a href="#blog" class="js--scroll-to-blog">Blog</a></li>
          </ul>
          <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon"></i></a>
      </div>
    </nav>
    <div class="container">
      <div class="title-description">
        <center>
          <h1 class="header-title js--main-title">Gaming Isn't Dead</h1>
            <h2 class="page-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <% unless logged_in? %>
            <%=link_to "Join", signup_path, :class => "button main-button" %>
            <%=link_to "Login", login_path, :class => "button main-button" %>
            <% end %>
        </center>
      </div>  
    </div>
    
    <div class="row">
      <div class="centering">
        <a href="#"><i class="bounce fa fa-arrow-circle-o-down fa-4x header-arrow js--arrow" id="js--scroll-to-article-title"></i></a>
      </div>
    </div>
  </header>
		<section class="section_1 js--section_1">
			<div class="container">
				<div class="row">
					<div class="seven columns">
					<% @articles.each_with_index do |article, index| %>
					<h3 class="article-title js--article-title"><%=link_to article.title, article_path(article) %></h3>
					<i class="date-copy"><%= time_ago_in_words(article.created_at) %> ago, by Mark Hustad</i>
					<% if article.image.present? %>
					<%= image_tag article.image.url(:large), :class => "u-max-full-width article-image-index" %>
					<% end %>
						<p class="article-paragraph"><%= simple_format(index.zero? ?  article.body : truncate(article.body, length: 300)) %></p>
						<p class="read-more"><%= link_to 'read more', article_path(article) unless index.zero? %></p>
						<% end %>
						<%= will_paginate @articles %>
					</div>

					<div class="five columns">
						<h3 class="article-title">Featured Articles</h3>
						<% @articles.each do |article| %>
						<h6><%=link_to article.try(:title), article_path(article) %></h6>
							<% end %>
							<br>
							<div class>
					      <label for="exampleEmailInput">Newsletter</label>
					      <input class="u-full-width" type="email" placeholder="Enter your email" id="exampleEmailInput">
					      <input type="submit" value="Join">
					    </div>
						<% if logged_in? %>
							<p>Current User: <%= (current_user.name) %><br>
           		<%=link_to 'create new article', new_article_path %><br>
           		<%=link_to 'Logout', logout_path, method: "delete" %><br>
           		<% else %>
           		<%=link_to 'Login', login_path %></p>
           	<% end %>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>