<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="0">
  <%= render 'shared/main-nav' %>
  

  <!-- header -->
  <header class="intro" id="intro" data-speed="6" data-type="background">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="brand-box">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading">Backpropagate</h1>
              <p class="intro-text">Start Here</p>
              <a class="btn btn-circle page-scroll" href="#about">
                <i class="fa fa-angle-double-down animated" id="nav-circle"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end of header -->


<section id="recent" data-speed="2" data-type="background" class="content-section">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h3>Recent Articles</h3>
          </div>
      <% @popular_articles.each do |a| %>
          <div class="module col-sm-3">
              <%=link_to image_tag(a.image.url(:medium), class: "thumbnail img-responsive"), a %>
              <h3><%=link_to "#{a.title.downcase}", article_path(a) %></h3>
              <p><%= a.body.truncate(100) %></p>
          </div>
      <% end %>
      </div>
      
    <div class="info row">

      <div class="col-sm-6" id="about" data-speed="2" data-type="background">
        <h3>Recent Post</h3>
        <% if @article.nil? %>
        <h2><%=link_to "#{@recent_article.title}", article_path(@recent_article)  %></h2>
        <p><%= @recent_article.body.truncate(300) %></p>
        <p>
          <%=link_to "Read More", @recent_article, class: "btn btn-default" %>
            <% else %>
            <%= render 'shared/dummy-article' %>
          <% end %>
        </p>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <h3>About Me</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </p>
          </div>
          <div class="col-sm-6">
            <h3>Recent Tweet</h3>
            <blockquote>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel quam elementum pulvinar etiam non quam. Viverra vitae congue eu consequat ac felis donec et."
            </blockquote>
            <p>Something</p>
          </div>
        </div>
      </div>

    </div>





















  </div>
</section>
</body>

<%= render 'shared/new-footer' %>

