<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="0">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-main-collapse">
        Menu
        <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">
          <i class="fa fa-play-circle">
          </i>
          <span class="light">Back</span>
          Propagate
        </a>
      </div>
      <!--Collect links, forms, and content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#article">Articles</a>
          </li>
          <li>
            <a class="page-scroll" href="#recent">Recent</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
          <% if user_signed_in? %>
          <li>
            <%=link_to 'logout', destroy_user_session_path, method: "delete" %>
          </li>
            <% else %>
          <li><%=link_to "Join", new_user_registration_path %></li>
          <li><%=link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <!--navbar collapse -->
    </div>
    <!-- container -->
  </nav>
  

  <!-- header -->
  <header class="intro" id="intro" data-speed="6" data-type="background">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="brand-box">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading">Backpropagate</h1>
              <p class="intro-text">Start Here</p>
              <a class="btn btn-circle page-scroll" href="#about">
                <i class="fa fa-angle-double-down animated" id="nav-circle"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end of header -->

<!-- beginning of about section -->
  <section id="about" data-speed="4" data-type="background" class="container content-section text-center light-section">
    <div class="container">
      <div class="row">
        <h2>I'm getting serious about getting serious and stuff. I will spam you as much as possible!</h2>
          <p>
            No spam, only great content!
          </p>
        <form class="form-inline">
          <div class="form-group">
              <input type="email" class="form-control" id="email" value="Enter Your Email">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </section>

  <section id="article" data-speed="2" data-type="background" class="content-section paragraph-section">
        <div class="article-section ">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <% if @article.nil? %>
                    <h2 class="center-title"><%= @recent_article.title  %></h2>
                    <p class="article-paragraph">
                      <%= @recent_article.body %>
                    </p>
                    <%=link_to "Read More", article_path(@recent_article), class: "btn btn-default" %>
                    <% else %>
                    <%= render 'shared/dummy-article' %>
                  <% end %>
                </div>
            </div>
        </div>
    </section>

  
  <section id="recent" data-speed="2" data-type="background" class="text-center dark-section-background smaller-content-section">
    <h2>Recent Posts</h2><br><br>
   <div class="container">
      <div class="row">


        <% @popular_articles.each do |article| %>
                <div class="col-sm-3">
                  <div class="card card-inverse">
                    <%= image_tag(article.header.url, class: "card-img img-responsive") %>
                    <div class="card-img-overlay">
                      <h4 class="card-title"><%=link_to "#{article.title}", article %></h4>
                      <p class="card-text"><%= truncate(article.body) %></p>
                      <p class="card-text"><small class="text-muted">posted <%= time_ago_in_words(article.created_at) %> ago</small></p>
                    </div>
                  </div>
                </div>
        <% end %>





      </div>
    </div>
    
  </section>

  <section id="contact" class="container content-section text-center black-section">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <h2>Contact Me</h2>
              <p>Any Comments, Questions, or Feedback?</p>
              <p><a href="mailto:feedback@startbootstrap.com">mark.hustad@backpropagate.com</a>
              </p>
              <ul class="list-inline banner-social-buttons">
                  <li>
                      <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                  </li>
                  <li>
                      <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                  </li>
                  <li>
                      <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                  </li>
              </ul>
          </div>
      </div>
  </section>
</body>

