<!DOCTYPE html>
	<head>
		<title>Experimental</title>
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	</head>
	<header class="header-1">
    <nav>
      <div class="container">
          <ul class="main-nav js--main-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#programs" class="js--scroll-to-contact">About</a></li>
              <li><a href="#nutrition" class="js--scroll-to-main-nav">Articles</a></li>
              <li><a href="#coaches" class="js--scroll-to-fan-pics">Videos</a></li>
              <li><a href="#contact" class="js--scroll-to-book">Contact</a></li>
          </ul>
          <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon"></i></a>
      </div>
    </nav>
	<body>
		<section class="section_1">
			<div class="container">
				<div class="row">
					<div class="seven columns">
					<% @articles.each_with_index do |article, index| %>
					<h3 class="article-title"><%=link_to article.title, article_path(article) %></h3>
					<i class="date-copy"><%= time_ago_in_words(article.created_at) %> ago, by Mark Hustad</i>
					<% if article.image.present? %>
					<%= image_tag article.image.url(:large), :class => "u-max-full-width article-image-index" %>
					<% end %>
						<p class="article-paragraph"><%= simple_format(index.zero? ?  article.body : truncate(article.body, length: 300)) %></p>
						<p class="read-more"><%= link_to 'read more', article_path(article) unless index.zero? %></p>
						<% end %>
						<%= will_paginate @articles %>
					</div>

					<div class="five columns">
						<h3 class="article-title">Featured Articles</h3>
						<% @articles.each do |article| %>
						<h6><%=link_to article.try(:title), article_path(article) %></h6>
							<% end %>
							<br>
							<div class>
					      <label for="exampleEmailInput">Your email</label>
					      <input class="u-full-width" type="email" placeholder="Enter your email" id="exampleEmailInput">
					      <input type="submit" value="Join">
					    </div>
						<% if logged_in? %>
							<p>Current User: <%= (current_user.name) %><br>
           		<%=link_to 'create new article', new_article_path %><br>
           		<%=link_to 'Logout', logout_path, method: "delete" %><br>
           		<% else %>
           		<%=link_to 'Login', login_path %></p>
           	<% end %>
					</div>
				</div>
			</div>
		</section>

	<section class="section_2">
		<div class="container">
			<div class="row">
				<div class="four columns">
					<h3>Reviews</h3>
						<h6 class="section-two-subtitle">LOREM IPSUM DOLORE SED</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="four columns">
					<h3>Headlines</h3>
						<h6 class="section-two-subtitle">LOREM IPSUM DOLORE SED</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="four columns">
					<h3>Offer</h3>
						<h6 class="section-two-subtitle">LOREM IPSUM DOLORE SED</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
	</section>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="js/custom.js"></script>
	</body>
</html>