<%= render 'shared/alt-nav' %>

<header>
<div class="container article-show-container">
	<h1 class="article-title js--article-title"><%= @article.title.upcase %></h1>
	<% unless @article.user.nil? %>
		<i><%=@article.user.username %> <% end %> -- <%= time_ago_in_words(@article.created_at) %> ago</i>
</div>
	<br>
<% if @article.image.exists? && !@article.video_url.present? %>
	<%= image_tag @article.image.url, class: "article-show-image" %>
</header>
<% else %>
<!-- # The video container code below allows for full width, full screen embed in erb files(reminding myself), add the ruby code in as a class for iframe -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe src='https://www.youtube.com/embed/<%= video_id(@article.video_id) %>?rel=0&autohide=1&showinfo=0&0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
</div>

<% end %>
<br><br>

<div class="container">
		<%= simple_format(@article.body, class: "article-body article-paragraph js--article-body") %>
		<div class="next-previous">
				<% if @article.previous_article %>
					<%=link_to "< Previous", @article.previous_article %>
				<% end %> --
				<% if @article.next_article %>
					<%=link_to "Next >", @article.next_article %>
				<% end %>
		</div>
<br><br>
		<% if user_signed_in?  && is_admin? %>
		<div class="button-container centering">
			<%=link_to 'delete article', (@article),
									method: :delete,
									class: "btn btn-default",
									data: {confirm: "Are you sure?" } %>
			<%=link_to 'edit article', edit_article_path(@article), class: "btn btn-default" %>
		</div>
		<% end %>
</div>
<br><br>
<%= render 'shared/new-footer' %>
