<header>
<div class="container">
	<h1 class="article-title js--article-title"><%= @article.title %></h1>
		<i><%=@article.user.username %> -- <%= @article.created_at.strftime("%h %d %y") %></i>
</div>
	<br>
<% if @article.header.present? %>
	<%= image_tag @article.header.url, class: "article-show-image" %>
<% end %>
</header>

<%-# The video container code below allows for full width, full screen embed in erb files(reminding myself), add the ruby code in as a class for iframe -%>
<% if @article.video_url.present? %>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item", <%= embed(@article.video_url) %> allowfullscreen></iframe>
</div>
<% end %>
<br><br>

<div class="container">
		<%= simple_format(@article.body, class: "article-body article-paragraph js--article-body") %>
		<p><%=link_to 'home', root_path %></p>
		<% if user_signed_in?  && is_admin? %>
		<%=link_to 'delete article', (@article),
								method: :delete,
								class: "button",
								data: {confirm: "Are you sure?" } %>
		<%=link_to 'edit article', edit_article_path(@article), class: "button" %>
		<% end %>
</div>
