   <%= form_for @user do |f| %>
	  <% if @user.errors.any? %>
	    <div id="errors"
	      <h2><%= pluralize(@user.errors.count, "error") %> prevented thisuser from being saved</h2>
	      <ul>
		    <% @user.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		      <% end %>
	     </ul>
	    </div>
	<% end %>
		<%= f.label :name %>
		<%= f.text_field :name, class: 'u-full-width' %>
	
		<%= f.label :email %>
		<%= f.text_field :email, class: 'u-full-width' %>

		<%= f.label :password %>
		<%= f.password_field :password, class: 'u-full-width' %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, class: 'u-full-width' %>

	<p>
		<%=	f.submit %>
	</p>

	<% end %>