<nav id="js--main-nav" class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-main-collapse">
        Menu
        <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">
          <i class="fa fa-play-circle">
          </i>
          <span class="light">Back</span>
          Propagate
        </a>
      </div>
      <!--Collect links, forms, and content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <%=link_to 'Home', root_path %>
          </li>
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <%=link_to 'Articles', list_all_articles_path %>
          </li>
          <li>
            <a class="page-scroll" href="#recent">Recent</a>
          </li>
          <li>
            <%=link_to 'Contact', contact_path %>
          </li>
          <% if user_signed_in? %>
          <li>
            <%=link_to 'logout', destroy_user_session_path, method: "delete" %>
          </li>
          <% if user_signed_in? && is_admin? %>
          <li>
            <%= link_to 'New Article', new_article_path %>
          </li>
          <% end %>
            <% else %>
          <li><%=link_to "Join", new_user_registration_path %></li>
          <li><%=link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <!--navbar collapse -->
    </div>
    <!-- container -->
  </nav>