<%= form_for ([@exercise, @exercise.weights.build]) do |f| %>
  <% if @exercise.errors.any? %>
	    <div id="errors"
	      <h2><%= pluralize(@exercise.errors.count, "error") %> prevented this exercise from being saved</h2>
	      <ul>
		    <% @exercise.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		      <% end %>
	     </ul>
	    </div>
	<% end %>
 
 	<%= f.label :amount %>
 	<%= f.text_field :amount %>
 	<%= f.label :reps %>
 	<%= f.text_field :reps %>

 	<p><%= f.submit %></p>
 	
 

<% end %>