<%= form_for ([@exercise, @exercise.weights.build]) do |f| %>
  <% if @exercise.errors.any? %>
	    <div id="errors"
	      <h2><%= pluralize(@exercise.errors.count, "error") %> prevented this exercise from being saved</h2>
	      <ul>
		    <% @exercise.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		      <% end %>
	     </ul>
	    </div>
	<% end %>


 <div class="Rtable Rtable--4cols Rtable--collapse">

  <div class="Rtable-cell Rtable-cell--head weight-field"><h3>Enter Set</h3></div>
  <div class="Rtable-cell weight-field"><%= f.text_field :amount, placeholder: "Weight attempted", class: "weight-field" %></div>
  <div class="Rtable-cell weight-field"><%= f.text_field :reps, placeholder: "Rep amount", class: "weight-field" %></div>
  <div class="Rtable-cell Rtable-cell weight-field"><strong><%= f.submit "Create set" , class: "weight-field" %></strong></div>



</div>
 	
 

<% end %>