

<div class="container">
<h2><%= @exercise.name.capitalize %></h2>
	<div class="row">
		<div class="twelve columns"</div>
		<%= render 'weights/form' %>
	</div>
	<div class="row">
		<div class="twelve columns">
		
		</div>
	</div>

	<% if @weights.any? %>
		<% @weights.each do |w| %>
		<div class="Rtable Rtable--2cols Rtable--collapse">
		  <div style="order:1;" class="Rtable-cell weight-field">Pounds: <%= w.amount %></div>
		  <div style="order:1;" class="Rtable-cell weight-field">Reps: <%= w.reps %></div>
		</div>

		<% end %>
		<div class="centering">
		<%= will_paginate @weights %>
		</div>
		<% end %>
	</div>





