
<div class="container">

	<div class="row">
		<div class="twelve columns"</div>
		<%= render 'weights/form' %>
	</div>
	<div class="row">
		<div class="twelve columns">
		
		</div>
	</div>



<h2><%= @exercise.name %></h2>

<% if @weights.any? %>
	<% @weights.each do |w| %>
	<div class="Rtable Rtable--2cols Rtable--collapse">
	  <div style="order:1;" class="Rtable-cell">Pounds: <%= w.amount %></div>
	  <div style="order:1;" class="Rtable-cell">Reps: <%= w.reps %></div>
	</div>

	<% end %>
	<div class="centering">
	<%= will_paginate @weights %>
	</div>
	<% end %>
	</div>





