<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" >
    <title>Experimental</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
     <%= stylesheet_link_tag    'application', media: 'all' %>
     <%= javascript_include_tag 'application' %>
     <%= javascript_include_tag 'custom.js' %>
     <%= csrf_meta_tags %>
     <% flash.each do |message_type, message| %>
  <center>
    <div id="flash-message">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= message %>
    </div>
  </center>
  <% end %>
  </head>
  	
  <body>

    <%= yield %>

    
    
    
  </body>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>



</html>
