<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" >
    <title>Experimental</title>
     <%= stylesheet_link_tag    'application', media: 'all' %>
     <%= javascript_include_tag 'application' %>
     <%= csrf_meta_tags %>
  </head>
  	<% flash.each do |message_type, message| %>
  <center><div class="flash-message <%= message_type %>"><%= message %></div></center>
	<% end %>
  <body>

    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
    
    
  </body>
</html>
